@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;

}

.pacifico{
  font-family: 'Pacifico', cursive !important;
}

.gradBtn{
  background: linear-gradient(180deg, #FFC300 0%, #F3A920 100%);
}